.card {
	max-width: 330px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	background-color: $white;
	padding: 17px 15px 10px;
	.title {
		font-size: 24px;
		margin: 0px 0 5px;
	}
	.number {
		display: inline-block;
		vertical-align: top;
		color: $viz-black;
		@media (min-width: 544px) {
			font-size: 20px;
		}
	}
	p {
		margin-bottom: 3px;
	}
	.top-card-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 15px;
		.big-number-holder {
			position: relative;
			padding: 5px 8px 5px 0;
			&:before {
				content: '';
				position: absolute;
				top: 6px;
				bottom: 6px;
				left: 100%;
				width: 1px;
				background: $viz-gray;
				@media (min-width: 544px) {
					top: 12px;
					bottom: 12px;
				}
			}
			.big-number {
				font-size: 35px;
				font-weight: 300;
				color: $viz-green;
				line-height: 1.1;
				@media (min-width: 544px) {
					font-size: 46px;
				}
			}
		}
		.number-holder {
			padding: 5px 8px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			.number {
				font-size: 17px;
				font-weight: 500;
				margin-bottom: 0;
				color: $viz-gray;
			}
			.number-info {
				font-size: 13px;
			}
		}
	}
}