
@font-face {
  font-family: 'Soleto';
  font-weight: 400;
  src: url('../fonts/SoletoRegular.eot');
  src: url('../fonts/SoletoRegular.eot') format('embedded-opentype'),
       url('../fonts/SoletoRegular.woff2') format('woff2'),
       url('../fonts/SoletoRegular.woff') format('woff'),
       url('../fonts/SoletoRegular.ttf') format('truetype'),
       url('../fonts/SoletoRegular.svg#SoletoRegular') format('svg');
}
@font-face {
  font-family: 'Soleto';
  font-weight: 700;
  src: url('../fonts/SoletoBold.eot');
  src: url('../fonts/SoletoBold.eot') format('embedded-opentype'),
       url('../fonts/SoletoBold.woff2') format('woff2'),
       url('../fonts/SoletoBold.woff') format('woff'),
       url('../fonts/SoletoBold.ttf') format('truetype'),
       url('../fonts/SoletoBold.svg#SoletoBold') format('svg');
}

@font-face {
  font-family: 'Soleto';
  font-weight: 200;
  src: url('../fonts/SoletoThin.eot');
  src: url('../fonts/SoletoThin.eot') format('embedded-opentype'),
       url('../fonts/SoletoThin.woff2') format('woff2'),
       url('../fonts/SoletoThin.woff') format('woff'),
       url('../fonts/SoletoThin.ttf') format('truetype'),
       url('../fonts/SoletoThin.svg#SoletoThin') format('svg');
}
@font-face {
  font-family: 'Soleto';
  font-weight: 500;
  src: url('../fonts/SoletoMedium.eot');
  src: url('../fonts/SoletoMedium.eot') format('embedded-opentype'),
       url('../fonts/SoletoMedium.woff2') format('woff2'),
       url('../fonts/SoletoMedium.woff') format('woff'),
       url('../fonts/SoletoMedium.ttf') format('truetype'),
       url('../fonts/SoletoMedium.svg#SoletoMedium') format('svg');
}
@font-face {
  font-family: 'Soleto';
  font-weight: 300;
  src: url('../fonts/SoletoLight.eot');
  src: url('../fonts/SoletoLight.eot') format('embedded-opentype'),
       url('../fonts/SoletoLight.woff2') format('woff2'),
       url('../fonts/SoletoLight.woff') format('woff'),
       url('../fonts/SoletoLight.ttf') format('truetype'),
       url('../fonts/SoletoLight.svg#SoletoLight') format('svg');
}
@font-face {
  font-family: 'Soleto';
  font-style: italic;
  src: url('../fonts/SoletoItalic.eot');
  src: url('../fonts/SoletoItalic.eot') format('embedded-opentype'),
       url('../fonts/SoletoItalic.woff2') format('woff2'),
       url('../fonts/SoletoItalic.woff') format('woff'),
       url('../fonts/SoletoItalic.ttf') format('truetype'),
       url('../fonts/SoletoItalic.svg#SoletoItalic') format('svg');
}
