.list-group.list-group-overflow {
  border-radius: 5px;
  border: 1px solid $gray-light;
  max-height: 300px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  
  .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

.list-group {
  min-width:300px;
}
.list-group-item {
  background-color: #fff;
  border: 1px solid #DCDCDC;
}
