// Apollo Nav Styles
.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none
}
.nav:before, .nav:after {
	content: " ";
	display: table
}
.nav:after {
	clear: both
}
.nav>li, .nav>li>a, .nav>li>.td-link {
	position: relative;
	display: block
}
.nav>li>a, .nav>li>.td-link {
	padding: 12px 20px
}
.nav>li>a:hover, .nav>li>.td-link:hover, .nav>li>a:focus, .nav>li>.td-link:focus {
	text-decoration: none;
	background-color: #e9e9e9
}
.nav>li.disabled>a, .nav>li.disabled>.td-link {
	color: #c3c3c3
}
.nav>li.disabled>a:hover, .nav>li.disabled>.td-link:hover, .nav>li.disabled>a:focus, .nav>li.disabled>.td-link:focus {
	color: #c3c3c3;
	text-decoration: none;
	background-color: transparent;
	cursor: false
}
.nav .open>a, .nav .open>.td-link, .nav .open>a:hover, .nav .open>.td-link:hover, .nav .open>a:focus, .nav .open>.td-link:focus {
	background-color: #e9e9e9;
	border-color: #ff4e00
}
.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}
.nav>li>a>img, .nav>li>.td-link>img {
	max-width: none
}
.nav-tabs {
	border-bottom: 1px solid gainsboro
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px
}
.nav-tabs>li>a, .nav-tabs>li>.td-link {
	margin-right: 2px;
	line-height: 1.42857;
	border: 1px solid transparent;
	border-radius: 3px 3px 0 0
}
.nav-tabs>li>a:hover, .nav-tabs>li>.td-link:hover {
	border-color: #e1e1e1 #e1e1e1 gainsboro
}
.nav-tabs>li.active>a, .nav-tabs>li.active>.td-link, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>.td-link:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>.td-link:focus {
	color: #e9e9e9;
	background-color: #FFC02E;
	border: 1px solid gainsboro;
	border-bottom-color: transparent;
	cursor: default
}
.nav-pills>li {
	float: left
}
.nav-pills>li>a, .nav-pills>li>.td-link {
	border-radius: 3px
}
.nav-pills>li+li {
	margin-left: 2px
}
.nav-pills>li.active>a, .nav-pills>li.active>.td-link, .nav-pills>li.active>a:hover, .nav-pills>li.active>.td-link:hover, .nav-pills>li.active>a:focus, .nav-pills>li.active>.td-link:focus {
	color: #696969;
	background-color: #c2c2c2
}
.nav-stacked>li {
	float: none
}
.nav-stacked>li+li {
	margin-top: 2px;
	margin-left: 0
}
.nav-justified, .nav-tabs.nav-justified {
	width: 100%
}
.nav-justified>li, .nav-tabs.nav-justified>li {
	float: none
}
.nav-justified>li>a, .nav-tabs.nav-justified>li>a, .nav-justified>li>.td-link {
	text-align: center;
	margin-bottom: 5px
}
.nav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto
}

@media (min-width:1px) {
.nav-justified>li, .nav-tabs.nav-justified>li {
	display: table-cell;
	width: 1%
}
.nav-justified>li>a, .nav-tabs.nav-justified>li>a, .nav-justified>li>.td-link {
	margin-bottom: 0
}
}
.nav-tabs-justified, .nav-tabs.nav-justified {
	border-bottom: 0
}
.nav-tabs-justified>li>a, .nav-tabs.nav-justified>li>a, .nav-tabs-justified>li>.td-link, .nav-tabs.nav-justified>li>.td-link {
	margin-right: 0;
	border-radius: 3px
}
.nav-tabs-justified>.active>a, .nav-tabs.nav-justified>.active>a, .nav-tabs-justified>.active>.td-link, .nav-tabs.nav-justified>.active>.td-link, .nav-tabs-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs-justified>.active>.td-link:hover, .nav-tabs.nav-justified>.active>.td-link:hover, .nav-tabs-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs-justified>.active>.td-link:focus, .nav-tabs.nav-justified>.active>.td-link:focus {
	border: 1px solid transparent
}

@media (min-width:1px) {
.nav-tabs-justified>li>a, .nav-tabs.nav-justified>li>a, .nav-tabs-justified>li>.td-link, .nav-tabs.nav-justified>li>.td-link {
	border-bottom: 1px solid transparent;
	border-radius: 3px 3px 0 0
}
.nav-tabs-justified>.active>a, .nav-tabs.nav-justified>.active>a, .nav-tabs-justified>.active>.td-link, .nav-tabs.nav-justified>.active>.td-link, .nav-tabs-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs-justified>.active>.td-link:hover, .nav-tabs.nav-justified>.active>.td-link:hover, .nav-tabs-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs-justified>.active>.td-link:focus, .nav-tabs.nav-justified>.active>.td-link:focus {
	border-bottom-color: transparent
}
}
.tab-content>.tab-pane {
	display: none
}
.tab-content>.active {
	display: block
}
.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}
.navbar {
	position: relative;
	min-height: 58px;
	margin-bottom: 20px;
	border: 1px solid transparent
}
.navbar:before, .navbar:after {
	content: " ";
	display: table
}
.navbar:after {
	clear: both
}

@media (min-width:1px) {
.navbar {
	border-radius: 0
}
}
.navbar-header:before, .navbar-header:after {
	content: " ";
	display: table
}
.navbar-header:after {
	clear: both
}

@media (min-width:1px) {
.navbar-header {
	float: left
}
}
.navbar-collapse {
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-webkit-overflow-scrolling: touch
}
.navbar-collapse:before, .navbar-collapse:after {
	content: " ";
	display: table
}
.navbar-collapse:after {
	clear: both
}
.navbar-collapse.in {
	overflow-y: auto
}

@media (min-width:1px) {
.navbar-collapse {
	width: auto;
	border-top: 0;
	box-shadow: none
}
.navbar-collapse.collapse {
	display: block!important;
	height: auto!important;
	padding-bottom: 0;
	overflow: visible!important
}
.navbar-collapse.in {
	overflow-y: visible
}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	padding-left: 0;
	padding-right: 0
}
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 340px
}

@media (max-device-width:1px) and (orientation:landscape) {
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 200px
}
}
.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-collapse {
	margin-right: -15px;
	margin-left: -15px
}

@media (min-width:1px) {
.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-collapse {
	margin-right: 0;
	margin-left: 0
}
}
.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px
}

@media (min-width:1px) {
.navbar-static-top {
	border-radius: 0
}
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}

@media (min-width:1px) {
.navbar-fixed-top, .navbar-fixed-bottom {
	border-radius: 0
}
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}
.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}
.navbar-brand {
	float: left;
	padding: 19px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 58px
}
.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none
}
.navbar-brand>img {
	display: block
}

@media (min-width:1px) {
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: -15px
}
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px
}
.navbar-toggle:focus {
	outline: 0
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px
}

@media (min-width:1px) {
.navbar-toggle {
	display: none
}
}
.navbar-nav {
	margin: 9.5px -15px
}
.navbar-nav>li>a, .navbar-nav>li>.td-link {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px
}

@media (max-width:0) {
.navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu>li>.td-link, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 15px 5px 25px
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu>li>.td-link {
	line-height: 20px
}
.navbar-nav .open .dropdown-menu>li>a:hover, .navbar-nav .open .dropdown-menu>li>.td-link:hover, .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>.td-link:focus {
	background-image: none
}
}

@media (min-width:1px) {
.navbar-nav {
	float: left;
	margin: 0
}
.navbar-nav>li {
	float: left
}
.navbar-nav>li>a, .navbar-nav>li>.td-link {
	padding-top: 19px;
	padding-bottom: 19px
}
}
.navbar-form {
	padding: 10px 15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	margin: 12px -15px
}

@media (min-width:1px) {
.navbar-form .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle
}
.navbar-form .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle
}
.navbar-form .form-control-static {
	display: inline-block
}
.navbar-form .input-group {
	display: inline-table;
	vertical-align: middle
}
.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
	width: auto
}
.navbar-form .input-group>.form-control {
	width: 100%
}
.navbar-form .control-label {
	margin-bottom: 0;
	vertical-align: middle
}
.navbar-form .radio, .navbar-form .checkbox {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle
}
.navbar-form .radio label, .navbar-form .checkbox label {
	padding-left: 0
}
.navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0
}
.navbar-form .has-feedback .form-control-feedback {
	top: 0
}
}

@media (max-width:0) {
.navbar-form .form-group {
	margin-bottom: 5px
}
.navbar-form .form-group:last-child {
	margin-bottom: 0
}
}

@media (min-width:1px) {
.navbar-form {
	width: auto;
	border: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none
}
}
.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
	margin-bottom: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}
.navbar-btn {
	margin-top: 12px;
	margin-bottom: 12px
}
.navbar-btn.btn-sm, .btn-group-sm>.navbar-btn.btn {
	margin-top: 14px;
	margin-bottom: 14px
}
.navbar-btn.btn-xs, .btn-group-xs>.navbar-btn.btn {
	margin-top: 18px;
	margin-bottom: 18px
}
.navbar-text {
	margin-top: 19px;
	margin-bottom: 19px
}

@media (min-width:1px) {
.navbar-text {
	float: left;
	margin-left: 15px;
	margin-right: 15px
}
}

@media (min-width:1px) {
.navbar-left {
	float: left !important
}
.navbar-right {
	float: right !important;
	margin-right: -15px
}
.navbar-right~.navbar-right {
	margin-right: 0
}
}
.navbar-default {
	background-color: #ff4e00;
	border-color: #de4400
}
.navbar-default .navbar-brand {
	color: #fff
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
	background-color: transparent
}
.navbar-default .navbar-text, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>.td-link {
	color: #fff
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>.td-link:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>.td-link:focus, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>.td-link, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>.td-link:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>.td-link:focus {
	color: #fff;
	background-color: transparent
}
.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>.td-link, .navbar-default .navbar-nav>.disabled>a:hover, .navbar-default .navbar-nav>.disabled>.td-link:hover, .navbar-default .navbar-nav>.disabled>a:focus, .navbar-default .navbar-nav>.disabled>.td-link:focus {
	color: rgba(255,78,0,.5);
	background-color: transparent
}
.navbar-default .navbar-toggle {
	border-color: #ddd
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ddd
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #888
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #de4400
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>.td-link, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>.td-link:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>.td-link:focus {
	background-color: transparent;
	color: #fff
}

@media (max-width:0) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>.td-link {
	color: #fff
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>.td-link:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>.td-link:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>.td-link, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>.td-link:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>.td-link:focus {
	color: #fff;
	background-color: transparent
}
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>.td-link, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>.td-link:hover, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>.td-link:focus {
	color: rgba(255,78,0,.5);
	background-color: transparent
}
}
.navbar-default .navbar-link {
	color: #fff
}
.navbar-default .navbar-link:hover {
	color: #fff
}
.navbar-default .btn-link, .navbar-default .btn-secondary-ghost {
	color: #fff
}
.navbar-default .btn-link:hover, .navbar-default .btn-secondary-ghost:hover, .navbar-default .btn-link:focus, .navbar-default .btn-secondary-ghost:focus {
	color: #fff
}
.navbar-default .btn-link[disabled]:hover, .navbar-default [disabled].btn-secondary-ghost:hover, .navbar-default .btn-link[disabled]:focus, .navbar-default [disabled].btn-secondary-ghost:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-secondary-ghost:hover, fieldset[disabled] .navbar-default .btn-link:focus, fieldset[disabled] .navbar-default .btn-secondary-ghost:focus {
	color: rgba(255,78,0,.5)
}
.navbar-inverse {
	background-color: #fff;
	border-color: #fff
}
.navbar-inverse .navbar-brand {
	color: #696969
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #fff;
	background-color: transparent
}
.navbar-inverse .navbar-text, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>.td-link {
	color: #696969
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>.td-link:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>.td-link:focus {
	color: #4f4f4f;
	background-color: transparent
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>.td-link, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>.td-link:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>.td-link:focus {
	color: #4f4f4f;
	background-color: #e6e6e6
}
.navbar-inverse .navbar-nav>.disabled>a, .navbar-inverse .navbar-nav>.disabled>.td-link, .navbar-inverse .navbar-nav>.disabled>a:hover, .navbar-inverse .navbar-nav>.disabled>.td-link:hover, .navbar-inverse .navbar-nav>.disabled>a:focus, .navbar-inverse .navbar-nav>.disabled>.td-link:focus {
	color: #444;
	background-color: transparent
}
.navbar-inverse .navbar-toggle {
	border-color: #333
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #333
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #ededed
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>.td-link, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>.td-link:hover, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>.td-link:focus {
	background-color: #e6e6e6;
	color: #4f4f4f
}

@media (max-width:0) {
.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
	border-color: #fff
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #fff
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu>li>.td-link {
	color: #696969
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>.td-link:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>.td-link:focus {
	color: #4f4f4f;
	background-color: transparent
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>.td-link, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>.td-link:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>.td-link:focus {
	color: #4f4f4f;
	background-color: #e6e6e6
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>.td-link, .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>.td-link:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>.td-link:focus {
	color: #444;
	background-color: transparent
}
}
.navbar-inverse .navbar-link {
	color: #696969
}
.navbar-inverse .navbar-link:hover {
	color: #4f4f4f
}
.navbar-inverse .btn-link, .navbar-inverse .btn-secondary-ghost {
	color: #696969
}
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-secondary-ghost:hover, .navbar-inverse .btn-link:focus, .navbar-inverse .btn-secondary-ghost:focus {
	color: #4f4f4f
}
.navbar-inverse .btn-link[disabled]:hover, .navbar-inverse [disabled].btn-secondary-ghost:hover, .navbar-inverse .btn-link[disabled]:focus, .navbar-inverse [disabled].btn-secondary-ghost:focus, fieldset[disabled] .navbar-inverse .btn-link:hover, fieldset[disabled] .navbar-inverse .btn-secondary-ghost:hover, fieldset[disabled] .navbar-inverse .btn-link:focus, fieldset[disabled] .navbar-inverse .btn-secondary-ghost:focus {
	color: #444
}