.popover-title {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popover {
  padding: 0;
}

.popover-footer {
  margin: 0 -15px;
  padding: 10px 15px 0;
  border-top: 1px solid $gray-light;
}