<apollo-vha-header logo-href="./assets/images/vzt_r_rgb_wht_rev.png">
  <nav class="navbar navbar-default">
    <header>
      <div id="navbar" class="container-fluid navbar-collapse collapse">
        <div class="nav navbar-nav navbar-header"><img class="wordmark" alt="" src="./assets/images/vzt_r_rgb_wht_rev.png"><a href="#" class="app-name padding-sm-left hidden-xs">Nurse Residency Program Admin Tool</a></div>
					<div class="pull-right"><a href="#" class="app-name padding-sm-left padding-lg-right hidden-xs">Hi, Joe</a>
						<span class="app-name padding-md-right">
							<select required name="Organization"
								#refOrganization="ngModel"
								class="form-control" 
								[(ngModel)]="selectedOrganization"
								(ngModelChange)="onOrgChange($event)">
							<option *ngFor="let org of organizations;"
								[ngValue]="org.orgId">{{org.orgName}}
								
							</option>
						</select>			
					</span> 
				</div>
      </div>
    </header>
  </nav>
</apollo-vha-header>
<!-- /Vizient Header - lg --> 
<!-- Subheader Menu -->
<apollo-header>
  <section>
    <nav class="navbar navbar-inverse navbar-xs margin-none-bottom">
      <header class="container-fluid">
        <div class="container-fluid">
          <ul class="nav nav-tabs tabs-minimal navbar-left">
            <li routerLinkActive="value-group-name active" class="value-group-name active"><a routerLink="manage-residents" >Manage Residents</a></li>
            <li routerLinkActive="value-group-name active"><a routerLink="survey-status" >Survey Status</a></li>
            <li><a href="#">Termination Report</a></li>
            <li><a href="#">Access Report</a></li>
            <li><a href="#">Manage Org Profile</a></li>
            <li><a href="#">Data Download</a></li>
            <li><a href="https://nursing.test.vizientinc.com/NRP-Dashboard/" target="_blank">Dashboard</a></li>
            <li><a href="https://www.vizientinc.com/My-Dashboard/My-Tools/Nurse-Residency-Program"  target="_blank">NRP Home</a></li>
          </ul>
        </div>
      </header>
    </nav>
  </section>
</apollo-header>
<!-- /Subheader Menu --> 
<router-outlet></router-outlet>

<footer class="footer">
	<div class="container-fluid padding-sm">
		<div class="col-xs-12 col-lg-2 pull-left">
			<p>Vizient/AACN Nurse Residency Program <br>
				©2018 Vizient Inc. All Rights Reserved </p>
		</div>
		<div class="col-xs-12 col-lg-2 pull-right text-right"> <a href="https://www.vizientinc.com" target="_self">Vizient Home Page</a><br>
			Contact us at <a href="mailto:nrpinfo@vizientinc.com" target="_top">nrpinfo@vizientinc.com</a> </div>
	</div>
</footer>