$font-sourcesanspro: 'Source Sans Pro', sans-serif;
$pencil-font-size: 14px;

$spacer:   10px !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: round($spacer-x * 1.5),
    y: round($spacer-y * 1.5)
  ),
  3: (
    x: $spacer-x * 2,
    y: $spacer-y * 2
  ),
  4: (
    x: $spacer-x * 3,
    y: $spacer-y * 3
  )
) !default;

$content-wrapper-padding:   $spacer * 2 !default;

$screen-sm-min:             544px !default;
$screen-md-min:             768px !default;
$screen-lg-min:             992px !default;
$screen-xl-min:             1200px !default;

$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;
$screen-lg-max:             ($screen-xl-min - 1) !default;

$grid-float-breakpoint:     $screen-md-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Bootstrap-related variable (do not use it in your code)
$screen-xs-min:             $screen-md-min;

$grid-gutter-width:         22px !default;