<!-- Ressident Add/Upload -->
<div class="container-fluid padding-md border-bottom-light-gray">
  <div class="margin-md-right margin-top-xs padding-md-left text-left">
    <h3>Add New Resident</h3>
  </div>
  <div class="form-group margin-sm-top"> </div>
</div>
<form [formGroup]="mainform" >
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="col-xs-12">
        <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8 padding-md-top margin-none-left">
          <label>1. RN ID
            <span class="viz-orange">*</span>
          </label>
          <input formControlName="rnId" (change)="CheckRNIDExists($event)" class="form-control" type="text" [ngClass]="{
						'has-danger': mainform.controls.rnId.invalid && mainform.controls.rnId.touched
					}">
					<div><label class="alert-danger">{{rniderrormsg}}</label></div>
        </div>
      </div>
      <!-- 2 + 3 First Name - Last Name -->
      <div class="col-xs-12 col-sm-12 col-md-8 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-6 col-md-5">
          <label>2. First Name
            <span class="viz-orange">*</span>
          </label>
          <input formControlName="firstName" class="form-control" type="text" [ngClass]="{
						'has-danger': mainform.controls.firstName.invalid && mainform.controls.firstName.touched
					}">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-5">
          <label>3. Last Name
            <span class="viz-orange">*</span>
          </label>
          <input formControlName="lastName" class="form-control" type="text" [ngClass]="{
						'has-danger': mainform.controls.lastName.invalid && mainform.controls.lastName.touched
					}">
        </div>
      </div>
      <!-- /2 + 3 First Name - Last Name -->
      <!-- 4 Organization Email Address -->
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-8">
          <label>4. Organization Email Address
            <span class="viz-orange">*</span>
          </label>
          <input formControlName='email' (change)="ValidateOrganizationEmailAddress($event)" class="form-control" type="text" [ngClass]="{
						'has-danger': mainform.controls.email.invalid && mainform.controls.email.touched
					}">
					<div><label class="alert-danger">{{orgEmailErrorMsg}}</label></div>
        </div>
      </div>
      <!-- /4 Organization Email Address -->
      <!-- 5 + 6  Dates -->
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-3">
          <label>5. Cohort Date
            <span class="viz-orange">*</span>
          </label>
          <div class="input-group">
            <input formControlName="cohortDate" [matDatepicker]="cohortdatepicker" type="text" class="form-control dropdown-menu-right dropdown-menu-up"
              [ngClass]="{
							'has-danger': mainform.controls.cohortDate.invalid && mainform.controls.cohortDate.touched
						}" />
            <span class="input-group-btn">
              <mat-datepicker-toggle [for]="cohortdatepicker"></mat-datepicker-toggle>
              <mat-datepicker #cohortdatepicker></mat-datepicker>
            </span>
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-3">
          <label>6. Employment Start Date
            <span class="viz-orange">*</span>
          </label>
          <div class="input-group">
            <input formControlName="employmentStartDate" [matDatepicker]="employmentstartdatepicker" type="text" class="form-control dropdown-menu-right dropdown-menu-up"
              [ngClass]="{
							'has-danger': mainform.controls.employmentStartDate.invalid && mainform.controls.employmentStartDate.touched
						}" />
            <span class="input-group-btn">
              <mat-datepicker-toggle [for]="employmentstartdatepicker"></mat-datepicker-toggle>
              <mat-datepicker #employmentstartdatepicker></mat-datepicker>
            </span>
          </div>
        </div>
      </div>
      <!-- /5 + 6  Dates -->
      <!-- 7 Type of unit -->
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>7. Type of unit
            <span class="viz-orange">*</span>
          </label>
          <select formControlName="typeOfUnit" required name="typeofunit" class="form-control" [(ngModel)]="selectedtypeofunit" [ngClass]="{
						'has-danger': mainform.controls.typeOfUnit.invalid && mainform.controls.typeOfUnit.touched
					}">
            <option selected disabled value="undefined">
              <span>Choose type of unit</span>
            </option>
            <option *ngFor="let tyu of typeofunits" [ngValue]="tyu.Code_Id">{{tyu.Code_Description}}
            </option>
          </select>
        </div>
        <div *ngIf="selectedtypeofunit===16" class="form-group col-xs-12 col-sm-12 col-md-3">
          <label>Other (Specify)</label>
          <input formControlName="typeOfUnitOther" class="form-control" type="text">
        </div>
      </div>
      <!-- /7 Type of unit -->
      <!-- 8 Age in years -->
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>8. Age in years (at date of hire)
            <span class="viz-orange">*</span>
          </label>
          <input formControlName="age" class="form-control" type="text" [ngClass]="{
						'has-danger': mainform.controls.age.invalid && mainform.controls.age.touched
					}">
        </div>
      </div>
      <!-- /	8 Age in years -->
      <!-- 9 Gender -->
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>9. Gender
            <span class="viz-orange">*</span>
          </label>
          <select formControlName="gender" required name="gender" class="form-control" [(ngModel)]="selectedgender" [ngClass]="{
						'has-danger': mainform.controls.gender.invalid && mainform.controls.gender.touched
					}">
            <option selected disabled value="undefined">Choose gender</option>
            <option *ngFor="let gnd of genders" [ngValue]="gnd.Code_Id">
              {{gnd.Code_Description}}
            </option>
          </select>

        </div>
      </div>
      <!-- /9 Gender -->
      <!-- 10 Ethnicity -->
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>10. Ethnicity
            <span class="viz-orange">*</span>
          </label>
          <select formControlName="ethnicity" required name="Ethnicity" class="form-control" [(ngModel)]="selectedEthnicity" [ngClass]="{
						'has-danger': mainform.controls.ethnicity.invalid && mainform.controls.ethnicity.touched
					}">
            <option selected disabled value="undefined">Please select Value</option>
            <option *ngFor="let eth of Ethnicitys" [ngValue]="eth.Code_Id">
              {{eth.Code_Description}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>11. Basic nursing education completed at
            <span class="viz-orange">*</span>
          </label>
          <input formControlName="education" class="form-control" type="text" [ngClass]="{
						'has-danger': mainform.controls.education.invalid && mainform.controls.education.touched
					}">
        </div>
      </div>
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>12. Degree received
            <span class="viz-orange">*</span>
          </label>
          <select formControlName="degreeReceived" required name="DegreeReceived" class="form-control" [(ngModel)]="selectedDegreeReceived"
            [ngClass]="{
						'has-danger': mainform.controls.degreeReceived.invalid && mainform.controls.degreeReceived.touched
					}">
            <option selected disabled value="undefined">Choose Degree</option>
            <option *ngFor="let dgrsd of DegreeReceiveds" [ngValue]="dgrsd.Code_Id">
              {{dgrsd.Code_Description}}
            </option>
          </select>
        </div>
        <div *ngIf="selectedDegreeReceived===4" class="form-group col-xs-12 col-sm-12 col-md-3">
          <label>Other (Specify)</label>
          <input formControlName="degreeReceivedOther" class="form-control" type="text">
        </div>
      </div>
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>13. Previous non-nursing degree
            <span class="viz-orange">*</span>
          </label>
          <select formControlName="previousNursingDegree" required name="Previousnursingdegree" class="form-control" [(ngModel)]="selectedPreviousnursingdegree"
            [ngClass]="{
						'has-danger': mainform.controls.previousNursingDegree.invalid && mainform.controls.previousNursingDegree.touched
					}">
            <option selected disabled value="undefined">Choose previous non-nursing degree</option>
            <option *ngFor="let nsdg of Previousnursingdegrees" [ngValue]="nsdg.Code_Id">
              {{nsdg.Code_Description}}
            </option>
          </select>
        </div>
        <div *ngIf="selectedPreviousnursingdegree==5" class="form-group col-xs-12 col-sm-12 col-md-3">
          <label>Major</label>
          <input formControlName="major" class="form-control" type="text" [ngClass]="{
						'has-danger': mainform.controls.major.invalid && mainform.controls.major.touched
					}">
        </div>
      </div>
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>14. Overall grade point average
            <span class="viz-orange">*</span>
          </label>
          <select formControlName="overallGPA" required name="OverallGPA" class="form-control" [(ngModel)]="selectedOverallGPA" [ngClass]="{
						'has-danger': mainform.controls.overallGPA.invalid && mainform.controls.overallGPA.touched
					}">
            <option selected disabled value="undefined">Choose GPA</option>
            <option *ngFor="let gpa of OverallGPAs" [ngValue]="gpa.Code_Id">
              {{gpa.Code_Description}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label>15 Grant NRP meeting place access
            <span class="viz-orange">*</span>
          </label>
          <div class="radio">
            <label>
              <input formControlName="meetingPlaceAccess" type="radio" value="Yes">Yes</label>
          </div>
          <div class="radio">
            <label>
              <input formControlName="meetingPlaceAccess" type="radio" value="No">No</label>
          </div>
        </div>
      </div>
      <!--buttons-->
      <div class="col-xs-12 padding-sm-top">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <button (click)="onSubmit()" type="button" class="btn btn-lg btn-primary padding-md margin-xs-right"> Add Resident </button>
          <a routerLink="/manage-residents" class="btn btn-lg btn-secondary padding-md"> Cancel </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="padding-md bg-ex-light-gray margin-md-top">
        <h4>Resources</h4>
        <p>
          <a href="../../../public/documents/NRP_RN_Demographic_Form.pdf" target="_blank">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Resident Demographic Form</a>
        </p>
        <p>
          <a href="../../../public/documents/NRP_Standardized_Unit_Definitions.pdf" target="_blank">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Unit Defintions</a>
        </p>
      </div>
    </div>
  </div>
  <pre>{{mainform.value | json}}</pre>
</form>
